* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Roboto", system-ui;
  /* color:#f8e3e3; */
}

.appwrapper {
  /* min-height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
}

.navwrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #421a1a 0%, #421a1a 50%, #421a1a 100%);
  font-weight: 300;
  border-bottom: 1px solid #290101;
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.navwrapper ul {
  display: flex;
  font-size: 20px;
  height: 100%;
}

.navwrapper li {
  padding: 10px 15px;
  border-right: 2px solid #290101;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navwrapper li:last-child {
  border: none;
}

.navwrapper li:hover {
  background-color: #820303;

}

.nav-link {
  color: #f8e3e3;
}

.active {
  color: #eb5e5e;
}

.active:hover {
  color: #f8e3e3;
}

.footerwrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d0505;
  color: white;
  height: 300px;
  border-top: 1px solid #998080;
}

.footer-left {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-left img {
  width: 400px;
}

.footer-right {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 20px;
}

.homewrapper {
  flex: 1;
  min-height: 100vh;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f8e3e3;
  z-index: 1;
}

.logowrapper {
  width: 100%;
  height: 325px;
  background-color: #f8e3e3;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 200px 50px rgb(0, 0, 0, 1.0);
  padding: 20px;
  overflow: hidden;
  padding-right: 30px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  z-index: 1;
}

.logo {
  max-width: 700px;
  min-width: 400px;
  margin-top: 60px;
}

.homebackground {
  position: absolute;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-image: url('/src/assets/refinery_background.png');
  background-position: center;
  background-size: cover;
  overflow: hidden;
  filter: grayscale(95%);
  z-index: 0;
}

.homebackground::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5);
  /* Red overlay with 50% opacity */
  z-index: 1;
}


.personnelwrapper {
  flex: 1;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  padding: 30px;
  color: #f8e3e3;
  background-color: rgb(46, 18, 18);
  border-top: 1px solid #f8e3e3;
  border-bottom: 1px solid #f8e3e3;
  box-shadow: 0px 0px 10px 4px rgb(0, 0, 0, 1.0);
  z-index:2;
}

.personnelheader {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

/* .personnelwrapper > .cardStructure:last-child{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
} */

.cardwrapper {
  width: 275px;
  height: 375px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  font-size: medium;
  border-radius: 5px;
  color: #f8e3e3;
  font-weight: 600;
  border: 1px solid #f8e3e3;
  background-color: rgba(66, 26, 26);
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.3);
}

.imgwrapper {
  margin-top: 10px;
}

.titlewrapper {
  background-color: #281010;
  border: 1px solid #f8e3e3;
  width: 100%;
  padding: 10px;
  color: #f8e3e3;
}

.cardwrapper p {
  text-align: center;
  text-wrap: wrap;
  width: 100%;
  padding: 0px 50px;
}

.profilePic {
  width: 200px;
  border-radius: 100px;
  border: 1px solid white;
}

.notfoundwrapper {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}

/* .pageBackground{
  background-color: black;
  width:100%;
  height: 90vh;
  display:flex;
  justify-content: center;
  align-items: center;
} */




.serviceswrapper {
  position:relative;
  flex: 1;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  color: #f8e3e3;
  z-index: 1;
}

.serviceheader {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  z-index: 1;
}

/* .servicetitle{
  background-color: rgba(66, 26, 26,1.0);
  width:250px;
  height:50px;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.9);
  clip-path: polygon(0% 0%, 90% 0%, 80% 101%, 0% 101%);
} */



.serviceCardWrapper {
  background-color: rgba(66, 26, 26, 1.0);
  border-radius: 5px;
  border: 1px solid #f8e3e3;
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
  box-shadow: 4px 4px 6px 4px rgba(0, 0, 0, 0.7);
  z-index: 1;
  margin-bottom:20px;
}

.serviceCardWrapper img {
  width: 100px;
  z-index: 1;
}

.servicesBackground {
  flex:1;
  position: absolute;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-image: url('/src/assets/refinery_background.png');
  background-position: center;
  background-size: cover;
  overflow: hidden;
  filter: grayscale(95%);
  z-index: 0;
}

.servicesBackground::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.5);
  /* Red overlay with 50% opacity */
  z-index: 1;
}

.contactwrapper {
  flex: 1;
  min-height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  color: #f8e3e3;
  background-color: #2e1212;
}

.contactcontainer {
  margin-top: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contactheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .personnelwrapper {
    flex: 1;
  }

  .logowrapper {
    width: 100%;
    border: none;
    border-radius: 0px;
    border-top: 1px solid #c6baba;
    border-bottom: 1PX SOLID #c6baba;
    padding-right: 30px;
  }

  .logo {
    width: 400px;
  }

  .serviceswrapper {

  }

  

}